// product description
.product-wrapper {
    h1 {
        color: $text-secondary;
        font-size: 3.697rem;
        font-weight: 900;
        text-transform: uppercase;
        padding-top: 1rem;
    }
    .body-copy {
        color: $product-description-body;
        font-size: 1.6rem;
        margin-bottom: 3rem;
        p{
            color: $text-black-header-secondary;
            span{
                font-weight:400;
            }
        }
    }
    .description-list {
        color: $product-description-body;
        margin-top: 3rem;
        margin-bottom: 1rem;
        li {
            font-size: 1.6rem;
        }
    }
    @include respond-to(tab) {
        h1 {
            font-size: 4.8rem;
        }
    }
}