@import "abstracts/vars";
@import "abstracts/mixins";
@import "abstracts/functions";

.promo {
  &.page-not-found {
    margin: 10rem 0;
    .component-content {
      border: none;
      .container {
        .row {
          align-items: center;
        }
      }
    }
    text-align: center;
    h2 {
      font-weight: normal;
      padding: 2rem 0rem;
      
    }
    p {
      padding-bottom: 1rem;
    }
    .field-promolink {
      a {
        text-decoration: none;
      }
    }
  }
}
