@import "abstracts/mixins";
@import "abstracts/vars";
@import "base/fontawesome/font-awesome-mix-var";
.component {
  &.product-listing{
    width: 100%;
    box-sizing:border-box;
    
  }
  .reasults-total{
    
    p{
      padding:1.5rem;
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 2.0rem;
      color:$text-black-light;
    }
  }
} 
.product-wrapper{
  .body-copy{
  ul{
    padding: 0 2.0rem 1.5rem;
    li{
      margin: 0;
      font-size: 1.6rem;
      list-style-type: disc;
      list-style-position: outside;
    }
  }
}  
}

