@import "abstracts/vars";
@import "abstracts/mixins";
@import "abstracts/functions";

.component { 
    &.feature-content-tiles {
        padding-top: 3rem;
        padding-bottom: 3rem;
        //3 Column x 2 Row Grid
        &.variant-1 {
            background-color: $bg-light-gray;
            @import "variants/feature-content-tile/variant-1.scss";
        }
        //3 Column Grid & 4 Column Grid
        &.variant-2 {
            @import "variants/feature-content-tile/variant-2.scss";
        }
        //3 Row Images
        &.variant-3 {
            @import "variants/feature-content-tile/variant-3.scss";
        }
        //2 Column Structre with 2 Row Grid
        &.variant-4 {
            @import "variants/feature-content-tile/variant-4.scss";
        }
        &.variant-5 {
            @import "variants/feature-content-tile/variant-5.scss";
        }
    }
}

.on-page-editor {
    .component {
        &.feature-content-tiles {
            &.layover-right {
                .field-image {
                    display: block;
                }
            }
        }
    }
}