&.with-text {
    .field-heroimagedesktop {
        position: absolute;
        left: 15px;
        width: 80px;
        top: 15px;
        height: 80px;
        border: 6px solid $white;
        display: none;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .wrap {
        background-color: $bg-gray;
        padding: 30px 15px;
       
        overflow: hidden;
        height: 100%;
        background-size: cover;
        background-position: 81% 99%;
        position: relative;
        padding-top: 53.25%;
        .field-herobannertitle {
            top: 50%;
            max-width: 100%;
            color: $white;
            width: 100%;
            text-align: center;
            display: block;
            left: 0;
            padding-left: 25px;
            padding-right: 25px;
            position: absolute;
            transform: translatey(-50%);
            * {
                color: $white;
            }
        }
        // h1 {
        //     font-size: 7vw;
        // }
        // @include respond-to(tab) {
        //     padding: 48px 0;
        // }
        @include respond-to(desktop) {
            padding-top: 48.25%;
            .field-herobannertitle {
                top: 38%;
                padding-left: 17%;
                padding-right: 15%;
                transform: translatey(0);
            }
            // h1 {
            //     font-size: 5vw;
            // }
        }
    }
} // hero wrap ...