&.with-card {
    .wrap {
        background-color: $bg-gray;
        padding: 53.25% 15px 30px 15px;
        overflow: hidden;
        height: 100%;
        background-size: cover;
        background-position: 81% 99%;
        position: relative;
   
        h1 {
            top: 50%;
            max-width: 100%;
            font-size: 7vw;
            color: $white;
            width: 100%;
            text-align: center;
            display: block;
            left: 0;
            padding-left: 25px;
            padding-right: 25px;
            position: absolute;
            transform: translatey(-50%);
        }
        // @include respond-to(tab) {
        //     padding: 48px 0;
        // }
        @include respond-to(desktop) {
            padding-top: 48.25%;
            h1 {
                top: 38%;
                font-size: 5vw;
                padding-left: 17%;
                padding-right: 15%;
                transform: translatey(0);
            }
        }
    }
} // hero wrap ...