figure {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 77% 100%;
    min-height: 40rem;
    margin: 0;
    // for universal styling and customization
    * {
        color: $white ;
        border-color: $white ;
    }
}

.body-copy {
    padding: 3rem 2rem;
    h2 {
        padding-bottom: 1rem;
    }
    p {
        font-weight: 600;
        padding-bottom: 3rem;
    }
}

.sxa-btn {
    a {
        min-width: 155px;
    }
}

.col-right {
    .body-copy {
        text-align: center;
        margin: auto;
        * {
            color: $white;
            border-color: $white;
        }
        p {
            font-size: 2rem;
        }
    }
}


/* s */

@include respond-to(desktop) {
    figure {
        .body-copy {
            padding: 6rem 0;
            margin: auto;
            width: calc(100% - 45%);
            //padding: 50px 109px 40px 40px;
        }
    }
    .col-right {
        .body-copy {
            width: calc(100% - 40%);
            padding: 6rem 0;
            margin: auto;
            * {
                color: $white;
                border-color: $white;
            }
        }
    }
}